body {
    background-image: url(../../assets/lake.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    color: #333; /* dark gray color */
    width: 100%;
}
.weatherinfo, .time{
    width: 100%; 
    color: rgb(0, 0, 0); /* dark gray color */
    font-size: 1.5em;
}

.cityimg {
    width: 100%;
    padding-top: 20px;
}

.searchForm {
    padding-top: 20px;
    width: 40%;
}

.searchBar{
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: rgba(0,0,0,0);
    color: rgb(6, 6, 6);
    font-size: 1.6em;
    width: 70%;
}

button{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(0,0,0,0);
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: bold;
    
}

.photographer {
    font-size: 0.9em;
    color: rgb(0, 0, 0); /* dark gray color */
    text-align: center;
}

.footer{
    padding-top: 20px;
    text-align: center;
    color: rgb(0, 0, 0); /* dark gray color */
}

a{
    color: rgb(0, 0, 0); /* dark gray color */
    text-decoration: none;
}


@media only screen and (min-width: 769px){
    .cityimg{
        width: 40%;
    }

    .photographer {
        text-align: left;
    }
}